
  {{#if user}}
  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
          <h1>Welcome to {{user.name}}'s bio</h1>
          The goal of MindConnect is to enable friends to work together to make studying a lot easier (and enjoyable!). MindConnect is a student-friendly interactive studying tool that allows students to collaborate and work together to grasp key concepts easily and quickly via a mindmap platform.
        </div>

        {{# each profiles }}
        <div class="row">
          {{# each this }}
          <div class="col-sm-6 col-md-4">
            <div class="heading">
              <h2><i class="fa fa-book" aria-hidden="true"></i>{{ this.title }}</h3>
                <p class="description">{{ this.description }}</p>
                <a class="btn btn-info" href="/accounts/edit/{{this.id}}" role="button">Edit </a>
                <a class="btn btn-success" href="/accounts/delete/{{this.id}}" role="button">Delete </a>
                {{#if this.mode}}
              <button type="button" class="btn btn-info btn btn-warning active" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<strong>Click and Share Mindmap ID  :</strong>  {{this.id}} <br> <strong><a href='/accounts/{{this.id}}'>Link to Mindmap</strong></a> " data-html="true">
Public
</button>

                {{else}}
                <button type="button" class="btn btn-info btn btn-warning disabled">Private</button>
                {{/if}}
              </div>
            </div>
            {{/each}}
          </div>
          {{/each}}
        </div>


        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="form-group">
            <br>
            <a class="btn btn-primary btn-block btn-lg" href="/accounts/add" > New</a>
            <br>
          </div>


          <div class="list-group">
            {{# each profiles }}

            {{# each this }}
            <a href="/accounts/{{this.id}}" class="list-group-item "><i class="fa fa-book" aria-hidden="true"></i>{{this.title}}</a>
            {{/each}}

            {{/each}}
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
    </div>
    <p><p><p><p><p><p><p><p><p><p><p>



      {{else}}
      <p><p><p><p><div class="alert alert-danger">Please sign in to view </div><p><p><p><p>
        {{/if}}

    </div>

<script>
$("[data-toggle=popover]")
.popover({html:true})
</script>
